<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuration du bean Utilisateur -->
    <bean id="utilisateur" class="com.example.progresstracker.entity.Utilisateur">
        <constructor-arg value="1" /> <!-- Exemple d'ID -->
        <constructor-arg value="John Doe" /> <!-- Exemple de nom -->
        <constructor-arg value="avatar.jpg" /> <!-- Exemple d'avatar -->
        <property name="objectifs">
            <list>
                <ref bean="objectif1" />
                <ref bean="objectif2" />
                <!-- Autres objectifs pour l'utilisateur -->
            </list>
        </property>
    </bean>

    <!-- Configuration du bean Objectif -->
    <bean id="objectif1" class="com.example.progresstracker.entity.Objectif">
        <constructor-arg value="1" /> <!-- Exemple d'ID -->
        <constructor-arg value="Objectif 1 pour Utilisateur 1" /> <!-- Exemple de description -->
        <constructor-arg value="false" /> <!-- Exemple d'état d'achèvement -->
    </bean>

    <bean id="objectif2" class="com.example.progresstracker.entity.Objectif">
        <constructor-arg value="2" />
        <constructor-arg value="Objectif 2 pour Utilisateur 1" />
        <constructor-arg value="true" />
    </bean>
    <!-- Autres objectifs -->

</beans>
